#weekly {
  padding-bottom: 2em;

  .activities {
    border-radius: 2px;
    border: 1px solid #ccc;
    overflow: auto;
    cursor: pointer;
    margin-bottom: .5em;
    width: 90%;
    margin-left: 1em;
    font-size: 1.5em;
    @media only screen and (min-width: 320px) and (max-width: 480px) {
      margin-bottom: 0.3em;
      width: 100%;
      margin-left: 0;
      font-size: 1em;
    }

    .activity, .value {
      padding: 1em 1em;
      float: left;
    }

    .activity {
      border-right: 2px solid #ccc;
      width: 55%;
    }
  }

  #activity:active {
    background: #8e88db;
  }

  #create {
    a {
      cursor: pointer;
    }
  }

  #adding {
    padding-top: 1.5em;

    button {
      margin-left: 1.5em;
    }
  }
}
