#weekly {
  padding-bottom: 2em;

  #activities {
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #eee;
    overflow: auto;
    margin-left: 5em;
    cursor: pointer;
    margin-bottom: 2em;
    width: 70%;

    .activity, .value {
      font-size: 1.5em;
      padding: 1em 2em;
      float: left;
    }

    .activity {
      border-right: 2px solid #ccc;
      width: 55%;
    }
  }

  #activity:active {
    background: #8e88db;
  }

  #create {
    a {
      cursor: pointer;
    }
  }

  #adding {
    padding-top: 1.5em;

    button {
      margin-left: 1.5em;
    }
  }
}
