$light-gray: #eee;

#weekly {
  padding-bottom: 2em;

  .filter {
    margin-bottom: 1em;
    @media only screen and (min-width: 320px) and (max-width: 480px) {
      margin-bottom: 0.5em;
    }

    .search {
      margin-left: 2.5em;
      @media only screen and (min-width: 320px) and (max-width: 480px) {
        margin-left: 0.5em;
      }
      margin-right: 0.5em;
      position: relative;
      right: -0.5em;
    }

    input {
      border-radius: 20px;
      width: 45%;
      @media only screen and (min-width: 320px) and (max-width: 480px) {
        width: 50%;
      }
      padding-left: 1.75em;
      margin-left: -1.5em;
      line-height: 2em;
    }
  }

  .activities {
    overflow: auto;
    margin-bottom: .5em;
    width: 90%;
    margin-left: 1em;
    font-size: 1.5em;
    @media only screen and (min-width: 320px) and (max-width: 480px) {
      margin-bottom: 0.3em;
      width: 100%;
      margin-left: 0;
      font-size: 1em;
    }

    .activity, .value {
      padding: 0.6em 1em;
      float: left;
    }

    .activity {
      cursor: pointer;
      width: 55%;
      border-radius: 25px;
      border: 1px solid #ccc;
      text-align: center;
      background-color: $light-gray;

      .title {
        float: left;
      }

      .plus {
        float: right;
        margin-left: 2em;
      }
    }

    .activity:hover {
      background-color: #e23437;
    }

    .value {
      width: 45%;
    }
  }

  #activity:active {
    background: #8e88db;
  }

  #create {
    a {
      cursor: pointer;
    }
  }

  #adding {
    padding-top: 1.5em;

    button {
      margin-left: 1.5em;
    }
  }
}
