#weekly {
  padding-bottom: 2em;

  .tracker {
    background: #ccc;
    overflow: auto;
    margin-left: 5em;
    float: left;
    cursor: pointer;
    margin-bottom: 2em;
    width: 60%;

    .activity, .value {
      font-size: 1.5em;
      padding: 1em 2em;
      float: left;
    }

    .activity {
      border-right: 2px solid black;
      width: 70%;
    }
  }

  .tracker:active {
    background: #8e88db;
  }
}
