#weekly
  %h2
    {{user.first_name}}'s Monthly
  .activities(ng-repeat="activity in activities" ng-click="addValue(activity)")
    .activity
      {{activity.title}}
    .value
      {{ value(activity) }}
  %form#create
    %button.btn(ng-click="flipAdding()" ng-class="adding?'btn-danger':'btn-primary'")
      {{addingMessage}}
    #adding(ng-show="adding")
      %input(type="text" placeholder="new activity" ng-model="newActivity")
      %button.btn.btn-success(ng-click="createActivity()")
        Create New Activity
