#weekly.container
  %h2
    Weekly
  #activities(ng-repeat="activity in activities" ng-click="addValue(activity)")
    .activity
      {{activity.title}}
    .value
      {{activity.value}}
  #create
    %Button(ng-click="createActivity()" ng-hide="adding")
      Add
    #adding(ng-show="adding")
      %input(type="text" placeholder="new activity")
      %button(ng-click="createActivity()")
        Cancel
